<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/login/fondologin.css" rel="stylesheet" type="text/css" />
<link href="/contain.css" rel="stylesheet" type="text/css" />
<link href="/newbutton.css" rel="stylesheet" type="text/css" />

    <title>Wallet</title>
    <style>
      #rango {
        font-size: 20px;
    }
    </style>
</head>
<body class="fondologin">

<div style="height: calc(20vh - 12vw);"></div>

<div style="display: flex; justify-content: center; align-items: center; height: 90vh;">
    <div class="container" style="width: 100%; max-width: 400px; text-align: center; padding: 1rem; background-color: black; border-radius: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); min-height: 642px;">
        
        <div class="contain" style="width: 100%; max-width: 380px; text-align: center; padding: 1rem; background-color: white; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); min-height: 480px;">
        
          <div class="container" style="width: 100%; max-width: 250px; text-align: center; padding: 1rem; background-color: black; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); min-height: 250px;">
    <a href="/fotoperfil">
    <img src="{{{this.link_imagen_perfil}}}" alt="Rifle SCAR-H" style="max-width: 100%; border-radius: 10px;">
</a>
</div>



<div style="height: 40px;"></div>
         
          <div class="container" style="width: 100%; max-width: 300px; max-height: 85px; text-align: center; padding: 1rem; background-color: black; border-radius: 10px; box-shadow: 0 0px 0px rgba(0, 0, 0, 0); min-height: 80px;">

            <div class="container" style="width: 100%; max-width: 270px; text-align: center; padding: 0rem; background-color: white; border-radius: 0px; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); min-height: 50px;">
<div style="height: 0px;"></div>
<p>Usuario: <br> <span id="rango">{{email}}</span></p>
          </div>
          </div>

          <div style="height: 40px;"></div>
         
           <div class="container" style="width: 100%; max-width: 300px; text-align: center; padding: 1rem; background-color: black; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); min-height: 80px;">
            <div class="container" style="width: 100%; max-width: 270px; text-align: center; padding: 0rem; background-color: white; border-radius: 0px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); min-height: 50px;">
<div style="height: 10px;"></div>
<p style = "front-size: 30px;">ID: <span id="rango">{{id}}</span></p>

          </div>
          </div>

        

        </div>
        <div style="height: 35px;"></div>
        <buttonn onclick="window.location.href='/logout'" class="neu-button">Cerrar Sesión</buttonn>

</div>
 
    

</body>
</html>